[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "wyoming-piper"]
	path = wyoming-piper
	url = https://github.com/rhasspy/wyoming-piper.git
[submodule "tests/external/piper"]
	path = tests/external/piper
	url = https://github.com/rhasspy/piper.git
