[submodule "external/whisper.cpp"]
	path = external/whisper.cpp
	url = https://github.com/amd/whisper.cpp
[submodule "external/piper"]
	path = external/piper
	url = https://github.com/OHF-Voice/piper1-gpl.git
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
